{{define "Index"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja</title>
</head>

<body>
  <h1>Loja Digimons</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Agumon</td>
        <td>Cospe fogo</td>
        <td>100</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
{{end}}